* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul.menu {
    display: inline-block;
    list-style-type: none;

}
li.menu_list {
    height: 85px;
    width: 85px;
    position: relative;
    margin: 0 20px;

}
li.menu_list .front,
a.side {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 86px;
    width: 100%;
    padding: 30px;
    position: absolute;
    top: 0;
    left: 0;
    text-decoration: none;
    text-transform: uppercase;
    transition: all .5s ease-out;
    cursor: pointer;
}
li.menu_list .front {
    background-color: #34465d;
    color: #FFFC00;
    transform-origin: 0 0;
}
a.side {
    background-color: #FFFC00;
    color: #34465d;
    transform-origin: 0 0 85px;
    transform: rotateY(-90deg);
}
li.menu_list:hover a.side {
    transform: rotateY(0deg);
}
li.menu_list:hover .front {
    transform: rotateY(90deg);
}

li {
    float: left;
}

ul{
    display: inline-block;
    text-align: left;
}
nav{
    text-align: center;
    background-color: #354a62;
}

body {
    background-color: darkgray;
}


.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
}

.column {
    flex: 20%;
    padding: 0 4px;
    text-align: center;
}

.column img {
    margin-top: 25px;
    vertical-align: middle;
    width: auto;
    height: 300px;
    border: 3px solid black;
    border-radius: 20px;
    cursor: pointer;
}

.column img:hover{
    background-color: #939090;
    opacity: 80%;
}

.footer{
    background-color: #727070;
    height: 250px;
    width: 100%;
    bottom: 0px;
    margin-top: 100px;
}

.liste1{
    margin-left: 230px;
    display: list-item;
    text-align: -webkit-match-parent;
    width: 30%;
    float: left;
    list-style-type: none;
}

.liste2{
    margin-left: 45px;
    display: list-item;
    text-align: -webkit-match-parent;
    width: 30%;
    float: left;
    list-style-type: none;
}

.liste3{
    margin-left: 45px;
    display: list-item;
    text-align: -webkit-match-parent;
    width: 20%;
    float: left;
    list-style-type: none;
}

.links{
    text-decoration: none;
    cursor: pointer;
    color: black;
}




