* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul.menu {
    display: inline-block;
    list-style-type: none;

}
li.menu_list {
    height: 85px;
    width: 85px;
    position: relative;
    margin: 0 20px;

}
li.menu_list .front,
a.side {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 86px;
    width: 100%;
    padding: 30px;
    position: absolute;
    top: 0;
    left: 0;
    text-decoration: none;
    text-transform: uppercase;
    transition: all .5s ease-out;
    cursor: pointer;
}
li.menu_list .front {
    background-color: #34465d;
    color: #FFFC00;
    transform-origin: 0 0;
}
a.side {
    background-color: #FFFC00;
    color: #34465d;
    transform-origin: 0 0 85px;
    transform: rotateY(-90deg);
}
li.menu_list:hover a.side {
    transform: rotateY(0deg);
}
li.menu_list:hover .front {
    transform: rotateY(90deg);
}

li {
    float: left;
}

ul{
    display: inline-block;
    text-align: left;
}
nav{
    text-align: center;
    background-color: #354a62;
}

.articleimg{
    width: 400px;
    height: auto;
    align-items: center;
    cursor: pointer;
    border: 5px solid black;
    border-radius: 20px;
}
section{
    width: 100%;
    height: auto;
}
article{
    width: 50%;
    float: left;
    padding-left: 280px;
    padding-top: 120px;
}

aside{
    width: 50%;
    float: left;
    padding-top: 120px;
    font-size: larger;
}

body{
    background-image: url("https://p4.wallpaperbetter.com/wallpaper/134/234/391/photography-mountains-snow-landscape-wallpaper-preview.jpg");
    background-size: 100%auto;
}


.KaufButton{
    text-align: center;
    text-decoration: black;
    font-size: larger;
    background-color: lightblue;
    border-radius: 4px;
    width: 140px;
    height: 40px;
    font-family: Arial;
}
.KaufButton:hover{
    background-color: cornflowerblue;
    cursor: pointer;
}


.Merkmale{
    margin-left: 45px;
    font-family: Arial;
}

.Skiname{
    font-size: 30px;
    font-family: Arial;
}

.Preis{
    color: orange;
    font-size: 40px;
    font-family: Arial;
}

.footer{
    background-color: #e7dcdc;
    height: 250px;
    width: 100%;
    bottom: 0px;
    margin-top: 850px;
}

.liste1{
    margin-left: 230px;
    display: list-item;
    text-align: -webkit-match-parent;
    width: 30%;
    float: left;
    list-style-type: none;
}

.liste2{
    margin-left: 45px;
    display: list-item;
    text-align: -webkit-match-parent;
    width: 30%;
    float: left;
    list-style-type: none;
}

.liste3{
    margin-left: 45px;
    display: list-item;
    text-align: -webkit-match-parent;
    width: 20%;
    float: left;
    list-style-type: none;
}

.links{
    text-decoration: none;
    cursor: pointer;
    color: black;
}

#popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 5px;
    border: 1px solid gray;
    width: 500px;
    height: 300px;
}

.outeriframebtn{
    background-color: transparent;
    cursor: pointer;
    border-color: transparent;
}

.outeriframebtn:hover{
    text-decoration: white;
    opacity: 40%;
}

.inneriframebtn{
    cursor: pointer;
    position: fixed;
    top: 20px;
    right: 20px;
}


